<form action="/new" method="POST">
  <span>Author Name:</span>
  <input type="text" name="authorName" placeholder="John" />

  <span>Messsage:</span>
  <input type="text" name="messageText" placeholder="So I was born..." />

  <button type="submit"">Submit</button>
</form>
